[Desktop Entry]

Type=Application
Version=1.0
Name=Velvet
Comment=Minecraft performance mod installer.
Exec=velvet-minecraft
Icon=velvet-minecraft
Terminal=false
Categories=Game;
Keywords=game;minecraft;mc;
