name: Rust

on:
  push:
    branches: ["main"]
    tags:
      - "*"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            path: "target/release/velvet-minecraft"
            filename: velvet-linux
          - os: macos-latest
            path: "target/release/velvet-minecraft"
            filename: velvet-macos
          - os: windows-latest
            path: "target/release/velvet-minecraft.exe"
            filename: velvet-windows.exe
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: rui314/setup-mold@v1
      - name: Build
        run: cargo build --release --verbose
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: velvet-${{ matrix.os }}
          path: ${{ matrix.path }}
      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.path }}
          asset_name: ${{ matrix.filename }}
          tag: ${{ github.ref }}
